@import url(https://fonts.googleapis.com/earlyaccess/cwtexfangsong.css);


@keyframes fadein{
    0% { opacity: 0; }
    100% { opacity: 0.85; }
}
body{
    background-image: url("./pic/homepage.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 75% 50%;
    background-size: cover;

    animation: fadein 1.25s ease-in;
}


/* navbar */
.navbar{
    z-index: 999;
    user-select: none;
}
.navbar a{
    text-decoration: none;
}
.container-fluid{
    z-index: 999;
}
.navbar-toggler:focus{
    outline: 0;
}


/* 圖片 */
.background-img{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0.15;
    z-index: -999;
}
.title{
    position: absolute;
    left: 70px;
    top: calc( var(--ContainerTop) * 0.27);

    z-index: 0; 
}
.title h1{
    margin-bottom: 30px;
    padding: 0px 10px 3px 10px;
    border-bottom: 3px rgba(255, 255, 255, 0.25) solid;

    font-size: 6rem;
    font-weight: bold;

    background: linear-gradient(#4947ce, #b31919);
    background: -webkit-linear-gradient(#4947ce, #b31919);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
.title p{
    padding: 0px 10px 0px 20px;
    font: 1.25rem 'cwTeXFangSong', sans-serif;
    color: white;
}


/* 內容的部分 */
.Container{
    width: 100%;
    margin-top: calc( var(--ContainerTop) * 0.6);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.event{
    width: 70%;
    height: 400px;
    margin: 20px 0px 20px 0px;
    min-width: 600px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    background-color: rgba(255, 255, 255, 0.45);
}
.event p{
    font-family: 'cwTeXFangSong', sans-serif;
}
.event_title{
    font-size: 1.25rem;
}
.event img{
    height: 350px;
    float: right;
}
.event_1, .event_3, .event_5, .event_7, .event_9{
    position: relative;
    right: 100px;
    flex-direction: row;
}
.event_1 img, .event_3 img, .event_5 img, .event_7 img, .event_9 img{
    position: relative;
    padding-left: 60px;
}
.event_2, .event_4, .event_6, .event_8{
    position: relative;
    left: 100px;
    flex-direction: row-reverse;
}
.event_2 img, .event_4 img, .event_6 img, .event_8 img{
    position: relative;
    padding-right: 60px;
}



@media screen and (max-width: 1245px) {
    .event, .event div{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .event{
        height: 500px;
    }
    .event img{
        padding: 0px;
    }
}


/* footer */
.Footer{
    position: relative;
    width: 100%;
    height: 300px;
    margin-top: 100px;

    background-color: rgb(36, 36, 36);
    z-index: 999;
}

.footer{
    height: 250px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.Logo{
    width: 250px;
    height: 250px;
    padding: 50px;
}
.Logo img{
    width: 100%;
    border-radius: 50%;
    background-color: white;
}

.footer-Info{
    width: 250px;
    padding: 20px;
}
.footer-information{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.footer-information img{
    width: 10%;
}
.footer-information p{
    margin: 10px;
}
.footer-information a, 
.footer-information a:hover{
    color: white;
    text-decoration: none;
}

.footer-footer{
    width: 100%;
    bottom: 3px;
    color: rgb(215, 215, 215);
    text-align: center;
}
.footer-footer p{
    margin: 0px;
}
.last-revise-time{
    padding: 1px;
    color: rgb(129, 129, 129);
}
.footer-footer a, 
.footer-footer a:hover{
    color: rgb(215, 215, 215);
    text-decoration: none;
}