@import url(https://fonts.googleapis.com/earlyaccess/cwtexfangsong.css);


/* navbar */
.navbar{
    z-index: 999;
}
.navbar a{
    text-decoration: none;
}
.container-fluid{
    z-index: 999;
}
.navbar-toggler:focus{
    outline: 0;
}


/* 圖片 */
.head{
    position: fixed;
    width: 100%;
    top: var(--HeadImgTop, 0px);
    z-index: -100;
}

.title{
    position: absolute;
    left: 70px;
    top: calc( var(--TabsTop) * 0.5);

    z-index: 0; 
}
.title h1{
    margin-bottom: 30px;
    padding: 0px 10px 3px 10px;
    border-bottom: 3px rgba(255, 255, 255, 0.25) solid;

    font-size: 100px;
    font-weight: bold;

    background: linear-gradient(#4947ce, #b31919);
    background: -webkit-linear-gradient(#4947ce, #b31919);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
.title p{
    padding: 0px 10px 0px 20px;
    font: 20px 'cwTeXFangSong', sans-serif;
    color: white;
}

@keyframes fadein{
    0% { opacity: 0; }
    100% { opacity: 0.85; }
}
.head img{
    width: 100%;
    opacity: 0.85;
    z-index: 0;
    animation: fadein 1.25s ease-in;
}


/* 內容的部分 */
.Container{
    width: 100%;
    margin-top: var(--TabsTop);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.event{
    width: 70%;
    height: 400px;
    margin: 20px 0px 20px 0px;
    min-width: 600px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    background-color: rgba(255, 255, 255, 0.35);
}
.event p{
    font-family: 'cwTeXFangSong', sans-serif;
}
.event_title{
    font-size: 20px;
}
.event img{
    height: 350px;
    float: right;
}
.event_1, .event_3, .event_5, .event_7, .event_9{
    position: relative;
    right: 100px;
    flex-direction: row;
}
.event_1 img, .event_3 img, .event_5 img, .event_7 img, .event_9 img{
    position: relative;
    padding-left: 60px;
}
.event_2, .event_4, .event_6, .event_8{
    position: relative;
    left: 100px;
    flex-direction: row-reverse;
}
.event_2 img, .event_4 img, .event_6 img, .event_8 img{
    position: relative;
    padding-right: 60px;
}



@media screen and (max-width: 1245px) {
    .event, .event div{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .event{
        height: 500px;
    }
    .event img{
        padding: 0px;
    }
}

@media screen and (max-width: 961px) {
    .Container{
        background-color: white;
    }
    .event{
        background-color: rgba(0, 0, 0, 0.78);
    }
    .event div{
        color: white;
    }
}