body{
    background-image: url("./pic/homepage.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 50%;
    background-size: cover;
}


/* navbar */
.navbar{
    z-index: 999;
    user-select: none;
    background: rgba( 0, 0, 0, 0.5);
}
.navbar a{
    text-decoration: none;
}
.container-fluid{
    z-index: 999;
}
.navbar-toggler:focus{
    outline: 0;
}


/* 內容 */
.Container{
    position: relative;
    top: calc( 56px + 35px );
    margin-bottom: 300px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Calendar{
    width: 87%;

    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;

    border-radius: 30px;
}

#calendar{
    width: 70%;
    height: 83vh;
    padding: 30px 30px 30px 30px;
    opacity: 0.93;
    border-radius: 0px 30px 30px 0px;
    background-color: white;
}
.fc-event-main{
    cursor: pointer !important;
}
.fc .fc-daygrid-day.fc-day-today{
    background-color: rgba(100, 165, 177, 0.35) !important;
}

.Events{
    width: 30%;
    height: 83vh;
    border-radius: 30px 0px 0px 30px;
    background-color: rgba(100, 165, 177, 0.75);
}
.event{
    width: 90%;
    position: relative;
    top: 70px;
    margin-left: 15px;
}
.event-title{
    width: 100%;
    padding: 5px;
    margin: 0px;
    word-wrap: break-word;
    font-weight: bold;
}
.event-loca{
    padding: 5px;
    margin-left: 5px;
}

.supplementary-info{
    width: 80%;
    padding-top: 10px;
    color: white;
}

@media screen and (max-width: 991px) {
    .Calendar{
        flex-direction: column;
    }
    #calendar{
        width: 100%;
        height: 600px;
        border-radius: 30px 30px 0px 0px;
    }
    .Events{
        width: 100%;
        height: 300px;
        border-radius: 0px 0px 30px 30px;
    }
}


/* footer */
.Footer{
    position: relative;
    width: 100%;
    height: 300px;

    background-color: rgb(36, 36, 36);
    z-index: 999;
}

.footer{
    height: 250px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.Logo{
    width: 250px;
    height: 250px;
    padding: 50px;
}
.Logo img{
    width: 100%;
    border-radius: 50%;
    background-color: white;
}

.footer-Info{
    width: 250px;
    padding: 20px;
}
.footer-information{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.footer-information img{
    width: 10%;
}
.footer-information p{
    margin: 10px;
}
.footer-information a, 
.footer-information a:hover{
    color: white;
    text-decoration: none;
}

.footer-footer{
    width: 100%;
    bottom: 3px;
    color: rgb(215, 215, 215);
    text-align: center;
}
.footer-footer p{
    margin: 0px;
}
.last-revise-time{
    padding: 1px;
    color: rgb(129, 129, 129);
}
.footer-footer a, 
.footer-footer a:hover{
    color: rgb(215, 215, 215);
    text-decoration: none;
}