/* navbar */
.navbar{
    z-index: 999;
}
.navbar a{
    text-decoration: none;
}
.container-fluid{
    z-index: 999;
}
.navbar-toggler:focus{
    outline: 0;
}



/* footer */
.Footer{
    position: relative;
    width: 100%;
    height: 300px;
    margin-top: 100px;

    background-color: rgb(36, 36, 36);
}

.footer{
    height: 250px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.Logo{
    width: 250px;
    height: 250px;
    padding: 50px;
}
.Logo img{
    width: 100%;
    border-radius: 50%;
    background-color: white;
}

.footer-Info{
    width: 250px;
    padding: 20px;
}
.footer-information{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.footer-information img{
    width: 10%;
}
.footer-information p{
    margin: 10px;
}
.footer-information a, 
.footer-information a:hover{
    color: white;
    text-decoration: none;
}

.footer-footer{
    width: 100%;
    bottom: 3px;
    color: rgb(215, 215, 215);
    text-align: center;
}
.footer-footer a, 
.footer-footer a:hover{
    color: rgb(215, 215, 215);
    text-decoration: none;
}