@keyframes fadein{
    0% { opacity: 0; }
    100% { opacity: 1; }
}
body{
    background-image: url("./pic/ZZH_background_img.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 70% 40%;
    background-size: cover;

    animation: fadein 1.25s ease-in;
}

/* navbar */
.navbar{
    z-index: 999;
    user-select: none;
    background: rgba( 0, 0, 0, 0.5);
}
.navbar a{
    text-decoration: none;
}
.container-fluid{
    z-index: 999;
}
.navbar-toggler:focus{
    outline: 0;
}


/* 內容 */
.background-img{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0.2;
    z-index: -999;
}

h1, h2, p{
    color: white;
}

.Container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ZZH{
    width: 87%;
    position: relative;
    top: 100px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
}
.ZZH h1{
    font-weight: bold;
    margin: 0;
    color: white;
}
.ZZH p{
    margin-left: 20px;
    font-size: 1.2rem;
}
.ZZH div{
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.ZZH div img{
    width: 400px;
}
.ZZH div p{
    width: 60%;
    margin-left: 50px;
}

.Dramas{
    width: 85%;
    position: relative;
    margin-top: 200px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
}
.Dramas > h2{
    width: 100%;
    padding: 0px 0px 7px 3px;
    color: white;
    font-weight: bold;
    border-bottom: 2px rgb(219, 219, 219) solid;
}

.drama-year{
    margin: 20px;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
}
.drama-year h2{
    border-bottom: 2.5px white solid;
    color: white;
    font-weight: bold;
}
.dramas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.drama{
    margin: 10px;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.drama p{
    margin: 0px;
    font-size: 1.2rem;
}
.group{
    margin: 5px;
    display: flex;
    flex-direction: row;
}
.group img{
    height: 300px;
    margin: 3px;
}
.drama-flexslider{
    width: 200px;
}

.flexslider{
    border: 0px !important;
    margin: 0px !important;
    background: none !important;
}
.flex-direction-nav a{
    overflow: visible !important;
}


/* footer */
.Footer{
    position: relative;
    width: 100%;
    height: 300px;
    margin-top: 100px;

    background-color: rgb(36, 36, 36);
    z-index: 999;
}

.footer{
    height: 250px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.Logo{
    width: 250px;
    height: 250px;
    padding: 50px;
}
.Logo img{
    width: 100%;
    border-radius: 50%;
    background-color: white;
}

.footer-Info{
    width: 250px;
    padding: 20px;
}
.footer-information{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.footer-information img{
    width: 10%;
}
.footer-information p{
    margin: 10px;
}
.footer-information a, 
.footer-information a:hover{
    color: white;
    text-decoration: none;
}

.footer-footer{
    width: 100%;
    bottom: 3px;
    color: rgb(215, 215, 215);
    text-align: center;
}
.footer-footer p{
    margin: 0px;
}
.last-revise-time{
    padding: 1px;
    color: rgb(129, 129, 129);
}
.footer-footer a, 
.footer-footer a:hover{
    color: rgb(215, 215, 215);
    text-decoration: none;
}

@media screen and (max-width: 440px) {
    .Footer{
        position: absolute;
        bottom: 0px;
    }
}