@import url(https://fonts.googleapis.com/earlyaccess/cwtexfangsong.css);


/* navbar */
.navbar{
    position: fixed;
    z-index: 999;
}
.navbar a{
    text-decoration: none;
}
.container-fluid{
    z-index: 999;
}
.navbar-toggler:focus{
    outline: 0;
}


/* 圖片 */
.head{
    position: fixed;
    width: 100%;
    top: var(--HeadImgTop, 0px);
    z-index: -100;
}

.head div{
    position: absolute;
    right: 10px;
    bottom: 20px;

    z-index: 0;
}
.head p{
    font: 20px 'cwTeXFangSong', sans-serif;
    color: black;
}

@keyframes fadein{
    0% { opacity: 0; }
    100% { opacity: 0.85; }
}
.head img{
    width: 100%;
    opacity: 0.85;
    z-index: 0;
    animation: fadein 1.25s ease-in;
}


/* 頁籤 */
.Tabs{
    position: sticky;
    width: 100%;
    top: 0;
    margin-top: var(--TabsTop);
    padding: 30px 0px 0px 30px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    background-color: white;
    border-bottom: 1px rgb(219, 219, 219) solid;
    z-index: 999;
}
.now-tabs{
    padding: 0px 15px 7px 15px;
    color: black;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 3px black solid;
}
.now-tabs:hover{
    color: black;
    text-decoration: none;
}
.tabs{
    padding: 0px 15px 7px 15px;
    color: rgb(150, 150, 150);
    font-size: 20px;
    text-decoration: none;
}
.tabs:hover{
    color: rgb(65, 65, 65);
    text-decoration: none;
    border-bottom: 3px rgb(150, 150, 150) solid;
}



/* footer */
.Footer{
    position: relative;
    width: 100%;
    height: 300px;
    margin-top: 100px;

    background-color: rgb(36, 36, 36);
    z-index: 999;
}

.footer{
    height: 250px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.Logo{
    width: 250px;
    height: 250px;
    padding: 50px;
}
.Logo img{
    width: 100%;
    border-radius: 50%;
    background-color: white;
}

.footer-Info{
    width: 250px;
    padding: 20px;
}
.footer-information{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.footer-information img{
    width: 10%;
}
.footer-information p{
    margin: 10px;
}
.footer-information a, 
.footer-information a:hover{
    color: white;
    text-decoration: none;
}

.footer-footer{
    width: 100%;
    bottom: 3px;
    color: rgb(215, 215, 215);
    text-align: center;
}
.footer-footer p{
    margin: 0px;
}
.last-revise-time{
    padding: 1px;
    color: rgb(129, 129, 129);
}
.footer-footer a, 
.footer-footer a:hover{
    color: rgb(215, 215, 215);
    text-decoration: none;
}