.Container{
    position: relative;
    top: 0px;
    padding-bottom: 100px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: white;
}

.character{
    width: 70%;
    margin-top: 50px;
}
.title{
    width: 100%;
    font-size: 18px;
}
.character-info{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.character-info img{
    width: 15%;
    margin: 0px 50px 0px 0px;
    border-radius: 50%;
    padding: 5px;
    border: 1.5px rgb(219, 219, 219) solid;
}
.character-info p{
    width: 75%;
}
